.dashboard-component {
    position: absolute;
    top: 5rem;

    .card-wrapper {
        display: flex;
        padding: 2rem 8rem;
        width: 100%;
    
            .dashboard-card {
                width: 25%;
                background-color: hsl(228, 28%, 20%);
                border-radius: 0.5rem;
                margin-right: 1.5rem;

                .card-content {
                    text-align: center;
                    padding: 1rem 1rem;
                    border-top: 6px solid hsl(208, 92%, 53%);

                    .user-profile {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .card-icon {
                            margin-right: 15px;
                        }

                        .user-name {
                            color: hsl(228, 34%, 66%);
                        }
                    }
                    
                    .user-followers {
                        font-weight: 700;
                        font-size: 40px;
                        color: white;
                    }
                    
                    .followers-description {
                        padding-bottom: 1rem;
                        color: hsl(228, 34%, 66%);
                        font-size: 14px;
                    }
                    
                    .update-section {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .update-icon {
                            margin-right: 0.3rem;
                        }

                        .followers-update {
                            color: hsl(163, 72%, 41%);
                            font-size: 14px;
                        }
                    }
                }
            }
    }
}


